

<!DOCTYPE html>

<html>
<head>
    <script src="~/src/dist/build.js"></script>
    <link href="~/Lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <script src="~/Lib/bootstrap/dist/js/bootstrap.js"></script>
    <link href="~/Css/StyleSheet.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />

    <title>@ViewBag.Title</title>
</head>
<body>
@RenderBody()
  
</body>
</html>